.wrapper {
  width: 40%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
}